//Pseudoclases

a{
    color: white;
    font-family: $font-Oswald;
    font-size: 35px;
    background-color: $rojo;
}

a:link{
    color: aliceblue;
}

a:visited{
    color: burlywood;
}

a:hover{
    background-color: white;
    color: $rojo;
    animation-name: true_animacion;
    transition: 2s;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 0s;
}

a:active{
    background-color: white;
    color: $negro;
}
