/*Aquí se dejará escritos los códigos de fuentes utilizadas para este trabajo*/

/*Gentium Book Plus*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Playpen+Sans:wght@100&display=swap');

/* Para llamar a esta fuente se debe usar este código:
font-family: 'Oswald', sans-serif;
font-family: 'Playpen Sans', cursive; */

/*Chivo*/
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Comic+Neue:wght@300&display=swap');

/*font-family: 'Chivo', sans-serif;
font-family: 'Comic Neue', cursive;*/

/*configuraciones para todas las pantallas*/

@media only screen and (max-width: 500px) {
    body{
        background-color: crimson;
    }

    h1{
        font-size: 10px;
    }

    h2{
        font-size: 30px;
    }

    h5{
        font-size: 20px;
    }

    p{
        font-size: 15px;
    }


    .galeria_de_videos{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

    .review{
        margin-top: 10px;
        width: 350px;
        height: 200px;
    }


}

/*Table*/

@media only screen and (min-width: 501px) and (min-width: 950px){
    body{
        background-color: black;
    }
}

/*desktop*/

@media only screen and (min-width: 961px) {
    body{
        background-color: black;
    }
}


/*Color del fondo de la página*/
html{
    background-color: black;
}

/*Referente al bootstrap*/

/*color del fondo con Bootrao*/
.bg-Soul{
    background-color: red;
}

/*Letras del título*/

.titulos{
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 50px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(233, 8, 8);
}

/*Listas con links*/
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}

li{
    background-color: red;
}

/*Pseudo classes*/

a:link{
    color: aliceblue;
}

a:visited{
    color: burlywood;
}

a:hover{
    background-color: black;
    color: red;
}

a:active{
    background-color: white;
    color: black;
}

a{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    background-color: red;
}

/*Cuerpo del HTML*/

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.cuerpo_de_la_pagina{
    color: white;
    font-family: 'Chivo', sans-serif;
    font-size: 25px;
    margin-top: 150px;
}

.primera_parte{
    background-color: red;
    display: flex;
    flex-direction: column;
}

.espacio{
    border: black;
}

.segunda_parte{
    background-color: red;
    display: flex;
    flex-direction: column;
    
}

.Contact{
    color: white;
    font-family: 'Chivo', sans-serif;
    font-size: 25px;
    margin-top: 150px;
}

/*Imagenes*/

.perfil{
    
    height: 350px;
    width: 350px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: flex;
    align-self: flex-end;
    
}

.animacion{
    height: 350px;
    width:  350px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: flex;
    align-self: flex-end;
    
}

/*galeria de imagenes*/

.The_Art{
    margin-top: 150px;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
   
}

.carousel_2{
    margin-top: 150px;
}

/*galeria de videos*/

.galeria_de_videos{ 
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

.review{
    border: solid 4px red;
}
